* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
}

body {
  background-color: #0b0b0b;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
}

.movie-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    border-radius: 0.5rem;
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

button{
    background-color: #121212;
    color: #e0e0e0;
    padding: 1rem 2rem;
    border: 1px solid #00ffcc;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3 ease, color 0.3s ease, box-shadow 0.3s ease;

    &:hover{
        background-color: #00ffcc;
        color: #121212;
        box-shadow: 0 0 15px #00ffcc;
    }

    &:active {
        transform: scale(0.98);
    }
}