// styles.scss
@import "variables";
@import "components";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  background: linear-gradient(
    180deg,
    var(--color-bg) 0%,
    var(--color-bg-lighten) 100%
  );
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease, background 0.3s ease;

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1),
    1px 1px 1px rgba(255, 255, 255, 0.5);

  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
}

h2 {
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
