// styles.scss
@import 'variables';
@import 'components';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}
